<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html {width: 100%;height: 100%;margin:0px;padding:0px;font-family:"微软雅黑";}
		#allmap{width:100%;height:100%;}
		p{margin-left:5px; font-size:14px;}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=kpc15j1AQFyUVq5743wbnFDMpkjvlUBG"></script>
	<title>根据关键字本地搜索</title>
</head>
<body>
	要查询的地址：<input id="text_" type="text" value="南市食品街" style="margin-right:100px;"/>
	查询结果(经纬度)：<input id="result_" type="text" />
	<button onclick="searchByStationName()">查询</button>
	<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
	//根据ip自动定位
	var map = new BMap.Map("allmap"); //创建地图实例
	var point = new BMap.Point(0,0); //创建坐标点
	map.centerAndZoom(point,12); //初始化地图 设置中心店，显示级别
	var name;
	function myFun(result){
		var cityName = result.name;
		map.setCenter(cityName);
		getCityName(cityName);
	}
	function getCityName(cityName){ //获取根据ip定位城市名称
		name = cityName;
	}
	var myCity = new BMap.LocalCity();
	myCity.get(myFun); 
	//根据城市名称进行本地搜索
	var localSearch = new BMap.LocalSearch( 
		name,
		{renderOptions:{
			map:map,
			autoViewport:true //地图可以缩放
		}});
	var content = document.getElementById("text_").value + "<br/><br/>经度：117.190429<br/>纬度：39.138762";	
	var marker = new BMap.Marker(new BMap.Point(117.190429,39.138762));  // 创建标注，为要查询的地址对应的经纬度
	map.addOverlay(marker);	

	var infoWindow = new BMap.InfoWindow("<p style='font-size:14px;'>" + content + "</p>"+"<img src= '../images/bg.jpg' style='width:20px;height:20px' onclick='test()'>"); 
	marker.addEventListener("click", function () {
		this.openInfoWindow(infoWindow); 
		marker.setAnimation(BMAP_ANIMATION_BOUNCE);
	});
	 
	function searchByStationName() {
//		map.clearOverlays();//清空原来的标注
	　　	var keyword = document.getElementById("text_").value;
	
	　　	localSearch.setSearchCompleteCallback(function (searchResult) {
　　　　		var poi = searchResult.getPoi(0);
　　　　		document.getElementById("result_").value = poi.point.lng + "," + poi.point.lat; //获取经度和纬度，将结果显示在文本框中
//　　　　		map.centerAndZoom(poi.point, 13);
　　		});
　　		localSearch.search(keyword);
	}
	function test(){
		alert("测试点击事件");
	}
</script>