<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>微信查询</title>
	    <meta name="description" content="微信订单查询">
	    <meta name="keywords" content="index">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	    <meta name="renderer" content="webkit">
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
	    <link rel="icon" type="image/png" href="../api/AmazeUI/i/favicon.png">
	    <link rel="apple-touch-icon-precomposed" href="../api/AmazeUI/i/app-icon72x72@2x.png">
	    <link rel="stylesheet" href="../api/AmazeUI/css/amazeui.min.css" />
	    <link rel="stylesheet" href="../api/AmazeUI/css/admin.css">
	    <link rel="stylesheet" type="text/css" href="../api/webuploader/webuploader.css" />
	    <script src="../api/jQuery/jquery.min.js"></script>
	    <script src="../api/Echart/dist/echarts.js"></script>	    
	    <script src="../js/WfrmOrderSearch.js"></script>
	    <script src="../js/common.js"></script>
	    <script src="../js/resource.js"></script>
	    <!--[if lt IE 9]>
	    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
	    <script src="assets/js/polyfill/rem.min.js"></script>
	    <script src="assets/js/polyfill/respond.min.js"></script>
	    <script src="assets/js/amazeui.legacy.js"></script>
	    <![endif]-->
	    <!--[if (gte IE 9)|!(IE)]><!-->
	    <script src="../api/AmazeUI/js/jquery.min.js"></script>
	    <script src="../api/AmazeUI/js/amazeui.min.js"></script>
	    <!--<![endif]-->
	    <script src="../api/AmazeUI/js/app.js"></script>
	</head>
	<body>
		<!--[if lte IE 9]>
		<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，微信预订 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
		  以获得更好的体验！</p>
		<![endif]-->
	    <header data-am-widget="header" class="am-header am-header-default">
	  		<div class="am-header-left am-header-nav">
		    <a href="#left-link" class="">
		      <i class="am-header-icon am-icon-home"></i>
		    </a>
		 	</div>
	  		<h1 class="am-header-title">
		    	<a href="#title-link" class="">酒店列表</a>
	  		</h1>
	  		<div class="am-header-right am-header-nav">
		    	<a href="#right-link" class="">
		      		<i class="am-header-icon am-icon-bars"></i>
		    	</a>
	  		</div>
		</header>
		<!-- 酒店详情列表 -->
	    <div data-am-widget="list_news" class="am-list-news am-list-news-default">
	        <div class="am-list-news-bd">
	            <ul class="am-list" id="hotel_list">
	               
	            </ul>
	        </div>
	    </div>
	</body>
</html>
