<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>订单确认</title>
	    <meta name="description" content="订单确认">
	    <meta name="keywords" content="index">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	    <meta name="renderer" content="webkit">
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
	    <link rel="icon" type="image/png" href="../api/AmazeUI/i/favicon.png">
	    <link rel="apple-touch-icon-precomposed" href="../api/AmazeUI/i/app-icon72x72@2x.png">
	    <link rel="stylesheet" href="../api/AmazeUI/css/amazeui.min.css" />
	    <link rel="stylesheet" href="../api/AmazeUI/css/admin.css">
	    <link rel="stylesheet" type="text/css" href="../api/webuploader/webuploader.css" />
	    <script src="../api/jQuery/jquery.min.js"></script>
	    <script src="../api/Echart/dist/echarts.js"></script>	    
	    <script src="../js/WfrmOrderIdentify.js"></script>
	    <script src="../js/common.js"></script>
	    <script src="../js/resource.js"></script>
	    <!--[if lt IE 9]>
	    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
	    <script src="assets/js/polyfill/rem.min.js"></script>
	    <script src="assets/js/polyfill/respond.min.js"></script>
	    <script src="assets/js/amazeui.legacy.js"></script>
	    <![endif]-->
	    <!--[if (gte IE 9)|!(IE)]><!-->
	    <script src="../api/AmazeUI/js/jquery.min.js"></script>
	    <script src="../api/AmazeUI/js/amazeui.min.js"></script>
	    <!--<![endif]-->
	    <script src="../api/AmazeUI/js/app.js"></script>
	    <style type="text/css">
	    	.order-button{
	    		color: black;
	    		font-weight: 700;
	    		font-size: 18px;
	    	}
	    </style>
	</head>
	<body style="background-color: Menu;">
		<header data-am-widget="header" class="am-header am-header-default">
			<div class="am-header-left am-header-nav">
				<a href="#left-link" class="">
					<i class="am-header-icon am-icon-home"></i>
				</a>
		  	</div>
			<h1 class="am-header-title">
				<a href="#title-link" class="">订单确认</a>
			</h1>
			<div class="am-header-right am-header-nav">
				<a href="#right-link" class="">
		  			<i class="am-header-icon am-icon-bars"></i>
		    	</a>
		  	</div>
		</header>
		<br />
		<div class="am-panel am-panel-default">
			<div class="am-panel-bd">
				<table class="am-table am-table-radius" style="border: 0px;">
		            <tr>
		                <td>
		                    <h1>
		                    	付款金额：
		                    </h1>
		                </td>
		                <td>
		                    <h1 id="orderPrice">
		                    </h1>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                	房间名称：
		                </td>
		                <td id="room_name">
		                </td>
		            </tr>
		            <tr>
		                <td>
		                	入住时间：
		                </td>
		                <td >
		                	<span id="my-start"></span>
		                	至
		                    <span id="my-end"></span>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                	房间数量：
		                </td>
		                <td id="my-count">
		                </td>
		            </tr>
		            <tr>
		                <td>
		                	联系人：
		                </td>
		                <td id="customer-name">
		                </td>
		            </tr>
		            <tr>
		                <td>
		                	联系方式：
		                </td>
		                <td id="my-phone">
		                </td>
		            </tr>
		            <tr>
		                <td>
		                	身份证：
		                </td>
		                <td id="my-idCard">
		                </td>
		            </tr>
		    	</table>
		    	<div class="am-alert am-alert-danger" data-am-alert style="text-align: center;">
                	房间超过预订当天的保留时效，将自动取消订单；如果入住人不能如期到达酒店，请提前联系我们。
            	</div>
            	<button type="button" class="am-btn am-btn-primary am-btn-block am-round"
            		onclick="onclick_frontPay()">
                	<i class="am-icon-shopping-cart"></i> 前台支付
            	</button>
            	<button type="button" class="am-btn am-btn-success  am-btn-block am-round"
            		data-am-modal="{target: '#my-actions'}">
                	 立即支付
            	</button>
			</div>
		</div> 	
	</body>
	<!--支付弹出选项-->
	<div class="am-modal-actions" id="my-actions" >
	  	<div class="am-modal-actions-group" id="my-actions-body">
		    <ul class="am-list">
		      <li class="am-modal-actions-header" style="cursor: pointer;"
		      	onclick="onclick_pay('crm_pay')">
		      	<span class="order-button">会员支付</span>
		      </li>
		      <li class="am-modal-actions-header" style="cursor: pointer;"
		      	onclick="onclick_pay('wechat_pay')">
		      	<span class="order-button">微信支付</span>
		      </li>
		    </ul>
	  	</div>
	  	<div class="am-modal-actions-group">
	    	<button class="am-btn am-btn-secondary am-btn-block" data-am-modal-close>取消</button>
	  	</div>
	</div>
</html>
