<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>我的订单</title>
	    <meta name="description" content="我的订单">
	    <meta name="keywords" content="index">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	    <meta name="renderer" content="webkit">
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
	    <link rel="icon" type="image/png" href="../api/AmazeUI/i/favicon.png">
	    <link rel="apple-touch-icon-precomposed" href="../api/AmazeUI/i/app-icon72x72@2x.png">
	    <link rel="stylesheet" href="../api/AmazeUI/css/amazeui.min.css" />
	    <link rel="stylesheet" href="../api/AmazeUI/css/admin.css">
	    <link rel="stylesheet" type="text/css" href="../api/webuploader/webuploader.css" />
	    <script src="../api/jQuery/jquery.min.js"></script>
	    <script src="../api/Echart/dist/echarts.js"></script>	    
	    <script src="../js/WfrmMyOrder.js"></script>
	    <script src="../js/common.js"></script>
	    <script src="../js/resource.js"></script>
	    <!--[if lt IE 9]>
	    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
	    <script src="assets/js/polyfill/rem.min.js"></script>
	    <script src="assets/js/polyfill/respond.min.js"></script>
	    <script src="assets/js/amazeui.legacy.js"></script>
	    <![endif]-->
	    <!--[if (gte IE 9)|!(IE)]><!-->
	    <script src="../api/AmazeUI/js/jquery.min.js"></script>
	    <script src="../api/AmazeUI/js/amazeui.min.js"></script>
	    <!--<![endif]-->
	    <script src="../api/AmazeUI/js/app.js"></script>
	    <style type="text/css">
	    	.order-button{
	    		color: black;
	    		font-weight: 700;
	    		font-size: 18px;
	    	}
	    </style>
	</head>
	<body>
		 <!--[if lte IE 9]>
		<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
		  以获得更好的体验！</p>
		<![endif]-->
	    <header data-am-widget="header" class="am-header am-header-default">
	  		<div class="am-header-left am-header-nav">
				<a href="#left-link" class="">
				  <i class="am-header-icon am-icon-home"></i>
				</a>
	  		</div>
	  		<h1 class="am-header-title">
				<a href="#title-link" class="">我的订单</a>
	  		</h1>
	  		<div class="am-header-right am-header-nav">
				<a href="#right-link" class="">
		  			<i class="am-header-icon am-icon-bars"></i>
				</a>
		  	</div>
		</header>
	    <div class="am-tabs" data-am-tabs="{noSwipe: 1}">
	        <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
	            <li class="am-active">
	            	<a href="#tab2-1">未完成</a>
	            </li>
	            <li class="">
	            	<a href="#tab2-2">已完成</a>
	            </li>
	            <li class="">
	            	<a href="#tab2-3">已取消</a>    	
	            </li>
	        </ul>
	        <div class="am-tabs-bd">
	            <div class="am-tab-panel am-fade am-active am-in" id="tab2-1">
	                	            
	        	</div>
	        	<div class="am-tab-panel am-fade" id="tab2-2">
            	</div>
	            <div class="am-tab-panel am-fade" id="tab2-3">
	            </div>
	    </div>
	    <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
	  		<div class="am-modal-dialog">
	    		<div class="am-modal-hd">
	    			微信查询
	    		</div>
	    		<div class="am-modal-bd">
	      			您，确定要取消该订单吗？
	    		</div>
	    		<div class="am-modal-footer">
	      			<span class="am-modal-btn" data-am-modal-cancel>取消</span>
	      			<span class="am-modal-btn" data-am-modal-confirm>确定</span>
	    		</div>
	  		</div>
  		</div>
  		<!--支付弹出选项-->
		<div class="am-modal-actions" id="my-actions">
		  	<div class="am-modal-actions-group">
			    <ul class="am-list">
			      <li class="am-modal-actions-header" style="cursor: pointer;" 
			      	onclick="onclick_pay('crm_pay')">
			      	<span class="order-button">会员支付</span>
			      </li>
			      <li class="am-modal-actions-header" style="cursor: pointer;" 
			      	onclick="onclick_pay('wechat_pay')">
			      	<span class="order-button">微信支付</span>
			      </li>
			    </ul>
		  	</div>
		  	<div class="am-modal-actions-group">
		    	<button class="am-btn am-btn-secondary am-btn-block" data-am-modal-close>取消</button>
		  	</div>
		</div>
	</body>
</html>
