<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="酒店服务设施维护">
	    <meta name="keywords" content="index">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
	    <meta name="renderer" content="webkit">
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
	    <link rel="icon" type="image/png" href="../api/AmazeUI/i/favicon.png">
	    <link rel="apple-touch-icon-precomposed" href="../api/AmazeUI/i/app-icon72x72@2x.png">
	    <link rel="stylesheet" href="../api/AmazeUI/css/amazeui.min.css" />
	    <link rel="stylesheet" href="../api/AmazeUI/css/admin.css">
	    <link rel="stylesheet" type="text/css" href="../api/webuploader/webuploader.css" />
        <script src="../api/jQuery/jquery.min.js"></script>
	    <script src="../api/webuploader/webuploader.js"></script>
	    <script src="../js/WfrmServerFacilityMatain.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/resource.js"></script>

	    <!--[if lt IE 9]>
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
		<script src="assets/js/polyfill/rem.min.js"></script>
		<script src="assets/js/polyfill/respond.min.js"></script>
		<script src="assets/js/amazeui.legacy.js"></script>
		<![endif]-->
        <!--[if (gte IE 9)|!(IE)]><!-->
        <script src="../api/AmazeUI/js/jquery.min.js"></script>
        <script src="../api/AmazeUI/js/amazeui.min.js"></script>  
        <!--<![endif]-->
        <script src="../api/AmazeUI/js/app.js"></script>
	</head>
	
	<body>
		<div class="am-cf am-padding">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg">酒店服务设施维护</strong> / <small>Edit</small>
            </div>
        </div>
        <div class="am-tabs am-margin" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active"><a href="#tab1">客房设施</a></li>
                <li><a href="#tab2">综合设施</a></li>
                <li><a href="#tab3">服务项目</a></li>
                <li><a href="#tab4">娱乐设施</a></li>
            </ul>
            <div class="am-tabs-bd">
                <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                    <form class="am-form">
                        <div class="am-g am-margin-top-sm">
                            <div id="myPanel">
                            </div>
                            <div class="am-input-group am-u-sm-12 am-input-group-primary">
                                <button type="button" onclick="add('room_menu')" class="am-btn am-btn-default">
                                    <span class="am-icon-plus"></span>新增</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="am-tab-panel am-fade" id="tab2">
                    <form class="am-form">
                        <div class="am-g am-margin-top-sm">
                            <div id="myPanel1">
                            </div>
                            <div class="am-input-group am-u-sm-12 am-input-group-primary">
                                <button type="button" onclick="add('multiple_menu')" class="am-btn am-btn-default">
                                    <span class="am-icon-plus"></span>新增</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="am-tab-panel am-fade" id="tab3">
                    <form class="am-form">
                        <div class="am-g am-margin-top-sm">
                            <div id="myPanel2">
                            </div>
                            <div class="am-input-group am-u-sm-12 am-input-group-primary">
                                <button type="button" onclick="add('server_menu')" class="am-btn am-btn-default">
                                    <span class="am-icon-plus"></span>新增</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="am-tab-panel am-fade" id="tab4">
                    <form class="am-form">
                    <div class="am-g am-margin-top-sm">
                        <div id="myPanel3">
                        </div>
                        <div class="am-input-group am-u-sm-12 am-input-group-primary">
                            <button type="button" onclick="add('entertainment_menu')" class="am-btn am-btn-default">
                                <span class="am-icon-plus"></span>新增</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="am-margin">
            
        </div>
	</body>
</html>
