<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="图片详情">
	    <meta name="keywords" content="index">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
	    <meta name="renderer" content="webkit">
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
	    <link rel="icon" type="image/png" href="../api/AmazeUI/i/favicon.png">
	    <link rel="apple-touch-icon-precomposed" href="../api/AmazeUI/i/app-icon72x72@2x.png">
	    <link rel="stylesheet" href="../api/AmazeUI/css/amazeui.min.css" />
	    <link rel="stylesheet" href="../api/AmazeUI/css/admin.css">
	    <link rel="stylesheet" type="text/css" href="../api/webuploader/webuploader.css" />
	    <script src="../api/jQuery/jquery.min.js"></script>
	    <script src="../api/webuploader/webuploader.js"></script>
	    <script src="../js/common.js"></script>
	    <script src="../js/resource.js"></script>
	    <script src="../js/WfrmPhotoDetail.js"></script>
	    <!--[if lt IE 9]>
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
		<script src="assets/js/polyfill/rem.min.js"></script>
		<script src="assets/js/polyfill/respond.min.js"></script>
		<script src="assets/js/amazeui.legacy.js"></script>
		<![endif]-->
        <!--[if (gte IE 9)|!(IE)]><!-->
        <script src="../api/AmazeUI/js/jquery.min.js"></script>
        <script src="../api/AmazeUI/js/amazeui.min.js"></script>
        <!--<![endif]-->
        <script src="../api/AmazeUI/js/app.js"></script>
	</head>
	<body>
		<div class="am-cf am-padding">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg">图片详情</strong> / <small>Photo Details</small></div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-8 am-u-sm-centered">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title">
                            <span id="imgInfo"></span>
                        </h3>
                    </div>
                    <div class="am-panel-bd am-u-sm-centered">
                  	<br />
                        <img id="displayImg" class='am-img-responsive am-u-sm-centered' alt=''/>
                    </div>
                  	<br />
                </div>
            </div>
        </div>
	</body>
</html>
