<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="订单统计">
	    <meta name="keywords" content="index">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	    <meta name="renderer" content="webkit">
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
	    <link rel="icon" type="image/png" href="../api/AmazeUI/i/favicon.png">
	    <link rel="apple-touch-icon-precomposed" href="../api/AmazeUI/i/app-icon72x72@2x.png">
	    <link rel="stylesheet" href="../api/AmazeUI/css/amazeui.min.css" />
	    <link rel="stylesheet" href="../api/AmazeUI/css/admin.css">
	    <link rel="stylesheet" type="text/css" href="../api/webuploader/webuploader.css" />
	    <script src="../api/jQuery/jquery.min.js"></script>
	    <script src="../api/Echart/dist/echarts.js"></script>
	    <script src="../js/WfrmOrderStatistics.js"></script>
	    <script src="../js/common.js"></script>
	    <script src="../js/resource.js"></script>
	    <!--[if lt IE 9]>
	    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
	    <script src="assets/js/polyfill/rem.min.js"></script>
	    <script src="assets/js/polyfill/respond.min.js"></script>
	    <script src="assets/js/amazeui.legacy.js"></script>
	    <![endif]-->
	    <!--[if (gte IE 9)|!(IE)]><!-->
	    <script src="../api/AmazeUI/js/jquery.min.js"></script>
	    <script src="../api/AmazeUI/js/amazeui.min.js"></script>
	    <!--<![endif]-->
	    <script src="../api/AmazeUI/js/app.js"></script>
	</head>
	<body>
		<div class="am-cf am-padding">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg">订单统计</strong> / <small>Oder Statistics</small>
            </div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12">
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            	关键指标
                        </div>
                        <div class="am-panel-bd">
                            <ul class="am-avg-sm-1 am-avg-md-3 am-margin am-padding am-text-center admin-content-list ">
                                <li>
                                	<a href="#" class="am-text-warning">
                                		<span class="am-icon-btn am-icon-cny"></span>
	                                    <br />昨日新增订单<br />
                                        <span id="newOrderCount"></span>
                                	</a>
                                </li>
                                <li>
                                	<a href="#" class="am-text-danger">
                                		<span class="am-icon-btn am-icon-times"></span>
	                                    <br />昨日取消订单<br />
                                        <span id="cancelOrderCount"></span>
                                	</a>
                                </li>
                                <li>
                                	<a href="#" class="am-text-secondary">
                                		<span class="am-icon-btn am-icon-line-chart"></span>
	                                    <br />累计订单<br />
                                        <span id="allOrderCount"></span>
                                	</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12">
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                        	最新订单
                        </div>
                        <div class="am-panel-bd">
                            <div class="am-g">
                                <div class="am-u-sm-12 am-u-md-6">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button type="button" class="am-btn am-btn-default" id="date_7" onclick="onclick_btnDate_7()">
                                                7天</button>
                                            <button type="button" class="am-btn am-btn-default" id="date_14" onclick="onclick_btnDate_14()">
                                                14天</button>
                                            <button type="button" class="am-btn am-btn-default" id="date_30" onclick="onclick_btnDate_30()">
                                                30天</button>
                                            <button type="button" id="my-strDate" class="am-btn am-btn-default">
                                            </button>
                                            <button type="button" class="am-btn am-btn-default">
                                                至</button>
                                            <button type="button" id="my-endDate" class="am-btn am-btn-default">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-12">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button type="button" class="am-btn am-btn-success" id="btnFini" onclick="onclick_btnArrive()">
                                            	已入住
                                            </button>
                                            <button type="button" class="am-btn am-btn-danger" id="btnCanc" onclick="onclick_btnCancel()">
                                            	取消
                                            </button>
                                            <button type="button" class="am-btn am-btn-primary" id="btnNofini" onclick="onclick_btnNoArrive()">
                                            	未到店
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="main" style="height: 400px">
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</body>
</html>
