<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="房型图片管理">
	    <meta name="keywords" content="index">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
	    <meta name="renderer" content="webkit">
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
	    <link rel="icon" type="image/png" href="../api/AmazeUI/i/favicon.png">
	    <link rel="apple-touch-icon-precomposed" href="../api/AmazeUI/i/app-icon72x72@2x.png">
	    <link rel="stylesheet" href="../api/AmazeUI/css/amazeui.min.css" />
	    <link rel="stylesheet" href="../api/AmazeUI/css/admin.css">
	    <script src="../js/WfrmRoomPhoto.js"></script>
	    <script src="../js/common.js"></script>
	    <script src="../js/resource.js"></script>
	    <!--[if lt IE 9]>
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
		<script src="assets/js/polyfill/rem.min.js"></script>
		<script src="assets/js/polyfill/respond.min.js"></script>
		<script src="assets/js/amazeui.legacy.js"></script>
		<![endif]-->
        <!--[if (gte IE 9)|!(IE)]><!-->
        <script src="../api/AmazeUI/js/jquery.min.js"></script>
        <script src="../api/AmazeUI/js/amazeui.min.js"></script>
        <!--<![endif]-->
        <script src="../api/AmazeUI/js/app.js"></script>
	</head>
	<body>
		<div class="am-cf am-padding">
                <div class="am-fl am-cf">
                    <strong class="am-text-primary am-text-lg">图片管理</strong> / <small>Room Photo</small></div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                            <tr>
                                <th class="table-title">
                                	名称
                                </th>
                                <th class="table-set">
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody id="room_list">
                            
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
	</body>
</html>
