<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登录 | 微信预订后台管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    
    <link rel="alternate icon" type="image/png" href="../api/AmazeUI/i/favicon.png">
    <link rel="stylesheet" href="../api/AmazeUI/css/amazeui.min.css" />
    <script src="../api/AmazeUI/js/jquery.min.js" type="text/javascript"></script>
    <script src="../api/AmazeUI/js/amazeui.js" type="text/javascript"></script>
    <script src="../api/jQuery/jquery.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/resource.js"></script>
    <script src="../js/WfrmLogin.js" type="text/javascript"></script>
    <style>
        .header
        {
            text-align: center;
        }
        .header h1
        {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        .header p
        {
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="am-g">
            <h1>微信预订后台管理系统</h1>
            <p>天财商龙酒店管理系统</p>
        </div>
        <hr />
    </div>
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
            <div class="am-alert am-alert-warning am-hide" id="my-alert" data-am-alert>
                <button type="button" class="am-close">
                    &times;</button>
                <p id="my-msg">
                    没什么可给你，但求凭这阙歌。谢谢你风雨里，都不退愿陪着我。</p>
            </div>
            <div class="am-form">
                <label for="shopid">商户号:</label>
                <input type="text" name="" id="shopid" value="" maxlength="15">
                <label for="password" style="margin-top: 18px;">密码:</label>
                <input type="password" name="" id="password" value="" maxlength="15">
                <br>
                <br />
                <div class="am-cf">
                    <button type="button" onclick="login()" id="btnLogin"  onkeypress="keydownMsg(event)"
                        class="am-btn am-btn-primary am-btn-sm  am-fl">
                        登 录</button>
                </div>
            </div>
            <hr>
            <p>
                Copyright © 1998-2016 TCSL</p>
        </div>
    </div>
</body>
</html>

