<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="订单详情">
	    <meta name="keywords" content="index">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	    <meta name="renderer" content="webkit">
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
	    <link rel="icon" type="image/png" href="../api/AmazeUI/i/favicon.png">
	    <link rel="apple-touch-icon-precomposed" href="../api/AmazeUI/i/app-icon72x72@2x.png">
	    <link rel="stylesheet" href="../api/AmazeUI/css/amazeui.min.css" />
	    <link rel="stylesheet" href="../api/AmazeUI/css/admin.css">
	    <link rel="stylesheet" type="text/css" href="../api/webuploader/webuploader.css" />
	    <link rel="stylesheet" type="text/css" href="../api/jQuery/jquery.dataTables.css"   />
	    <script src="../api/jQuery/jquery.min.js"></script>
	    <script src="../api/jQuery/jquery.dataTables.js"></script>
	    <script src="../api/Echart/dist/echarts.js"></script>
	    <script src="../js/WfrmOrderDetail.js"></script>
	    <script src="../js/common.js"></script>
		<script src="../js/resource.js"></script>
	    <!--[if lt IE 9]>
	    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
	    <script src="assets/js/polyfill/rem.min.js"></script>
	    <script src="assets/js/polyfill/respond.min.js"></script>
	    <script src="assets/js/amazeui.legacy.js"></script>
	    <![endif]-->
	    <!--[if (gte IE 9)|!(IE)]><!-->
	    <script src="../api/AmazeUI/js/amazeui.min.js"></script>	   
	    <!--<![endif]-->
	    <script src="../api/AmazeUI/js/app.js"></script>
	    <style type="text/css">
	    	th{
	    		text-align: center;
	    	}
	    </style>
	    
</head>
<body>
	<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">订单详情</strong> / <small>Oder Details</small></div>
	</div>
	<div class="am-g">
		<div class="am-u-sm-12">
	        <div class="am-panel am-panel-default">
	            <div class="am-panel-hd">
                	详细数据
	            </div>
	            <div class="am-panel-bd">
	                <div class="am-scrollable-horizontal">
	                    <table id="example" class="display">
	                        <thead>
	                            <tr>                                        
	                                <th>
                            			预定房型	
	                                </th>
	                                <th>
                                    	客户姓名
	                                </th>
	                                <th>
                                    	预定价格
	                                </th>
	                                <th>
                               		 	联系电话
	                                </th>
	                                <th>
                                    	到店/离店
	                                </th>
	                                <th>
                                    	订单状态
	                                </th>
	                                <th>
                                    	订单详情
	                                </th>                                         
	                            </tr>
	                        </thead>
	                        <tbody> 
								
	                        </tbody>
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>