<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="主页面框架">
	    <meta name="keywords" content="index">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	    <meta name="renderer" content="webkit">
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
	    <title>首页 | 微信预订后台管理</title>
	    <link rel="icon" type="image/png" href="../api/AmazeUI/i/favicon.png">
	    <link rel="apple-touch-icon-precomposed" href="../api/AmazeUI/i/app-icon72x72@2x.png">
	    <link rel="stylesheet" href="../api/AmazeUI/css/amazeui.min.css" />
	    <link rel="stylesheet" href="../api/AmazeUI/css/admin.css">
	    <script src="../api/Echart/dist/echarts.js"></script>
	    <script src="../js/common.js"></script>
	    <script src="../js/resource.js"></script>
	    <script src="../js/WfrmMain.js"></script>
	    <!--[if lt IE 9]>
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
		<script src="assets/js/polyfill/rem.min.js"></script>
		<script src="assets/js/polyfill/respond.min.js"></script>
		<script src="assets/js/amazeui.legacy.js"></script>
		<![endif]-->
        <!--[if (gte IE 9)|!(IE)]><!-->
        <script src="../api/AmazeUI/js/jquery.min.js"></script>
        <script src="../api/AmazeUI/js/amazeui.min.js"></script>
        <!--<![endif]-->
        <script src="../api/AmazeUI/js/app.js"></script>
	</head>
	<body>
	    <!--[if lte IE 9]>
		<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，微信预订 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
	  	以获得更好的体验！</p>
		<![endif]-->
	    <header class="am-topbar admin-header">
		  	<div class="am-topbar-brand">
		    	<strong>微信预订</strong>
		    	<small>后台管理系统</small>
		  	</div>
	
	  		<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" 				data-am-collapse="{target:'#topbar-collapse'}">
	  			<span class="am-sr-only">导航切换</span>
	  			<span class="am-icon-bars"></span>
	  		</button>
	
	  		<div class="am-collapse am-topbar-collapse" id="topbar-collapse">
			    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">     
			      	<li class="am-dropdown" data-am-dropdown>
			        	<a class="am-dropdown-toggle" style="cursor:pointer;">
			          		<span class="am-icon-users"></span> 
			          		<span id="shopTitle"></span>
			          		<span class="am-icon-caret-down"></span>
			        	</a>
				        <ul class="am-dropdown-content">
				       		<!--<li>
				       			<a href="#"><span class="am-icon-user"></span> 资料</a>
				       		</li>
				          	<li>
				          		<a href="#"><span class="am-icon-cog"></span> 设置</a>
				          	</li>-->
				          	<li>
				          		<a onclick="logout()" style="cursor:pointer">
				          			<span class="am-icon-power-off" ></span> 退出
				          		</a>
				          	</li>
				        </ul>
			      	</li>
			      	<li class="am-hide-sm-only">
			      		<a style="cursor: pointer;" id="admin-fullscreen">
			      			<span class="am-icon-arrows-alt"></span>
			      			<span class="admin-fullText">开启全屏</span>
			      		</a>
			      	</li>
			    </ul>
	  		</div>
		</header>
	    <div class="am-cf admin-main">
	        <!-- sidebar start -->
	        <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
	            <div class="am-offcanvas-bar admin-offcanvas-bar">
	                <ul class="am-list admin-sidebar-list">
	                    <li onclick="onclick_topPage()">
	                    	<a style="cursor: pointer;">
	                    		<span class="am-icon-home"> 首页</span> 
	                    	</a>
	                    </li>
	                    <li class="admin-parent">
	                    	<a class="am-cf" data-am-collapse="{target: '#collapse-nav'}">
	                        	<span class="am-icon-weixin"></span> 微信预订
	                        	<span class="am-icon-angle-right am-fr am-margin-right"></span>
	                    	</a>
	                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
	                        	<li onclick="onclick_hotelInfoMaintain()">
	                            	<a style="cursor: pointer;" class="am-icon-edit">
	                            		 酒店信息维护
	                            	</a>
	                            </li>
	                            <li onclick="onclick_roomCaptureManage()">
	                            	<a style="cursor: pointer;" class="am-icon-image">
	                            		 房型图片管理
	                            	</a>
	                            </li>
	                            <li onclick="onclick_hotelOutCaptureManage()">
	                            	<a style="cursor: pointer;" class="am-icon-puzzle-piece">
	                            		 酒店外景图管理
	                            	</a>
	                            </li>
	                            <li onclick="onclick_hotelServiceMatain()">
	                            	<a style="cursor: pointer;" class="am-icon-cogs">
	                            		 酒店服务设施维护
	                            	</a>
	                            </li>
	                        </ul>
	                    </li>
	                    <li class="admin-parent">
	                    	<a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}">
	                        	<span class="am-icon-pie-chart"> 订单管理</span> 
	                        	<span class="am-icon-angle-right am-fr am-margin-right"></span>
	                    	</a>
	                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav1">
	                            <li onclick="onClick_orderCount()">
	                            	<a style="cursor: pointer;" class="am-icon-line-chart"> 
	                            		订单统计
	                            	</a>
	                            </li>
	                            <li onclick="onclick_orderDetail()">
	                            	<a style="cursor: pointer;" class="am-icon-table"> 
	                            		订单详情
	                            	</a>
	                            </li>
	                        </ul>
	                    </li>
	                </ul>
	                <div class="am-panel am-panel-default admin-sidebar-panel">
	                    <div class="am-panel-bd">
	                        <p>
	                        	<span class="am-icon-bookmark"></span> 公告
	                        </p>
	                        <p id="announcement"></p>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <!-- sidebar end -->
	        <!-- content -->
	        <div class="admin-content">
	            <iframe name="displayContent" style="width: 100%;height: 630px;"></iframe>
	        </div>
	        <!-- content end-->
	        <a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target:'#admin-offcanvas'}">
	        </a>
	        <footer>
	  			<hr>
	  			<p class="am-padding-left">Copyright © 1998-2015 TCSL</p>
			</footer>
		</div>
	</body>
</html>
