<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="酒店信息维护">
	    <meta name="keywords" content="index">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
	    <meta name="renderer" content="webkit">
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
	    <link rel="icon" type="image/png" href="../api/AmazeUI/i/favicon.png">
	    <link rel="apple-touch-icon-precomposed" href="../api/AmazeUI/i/app-icon72x72@2x.png">
	    <link rel="stylesheet" href="../api/AmazeUI/css/amazeui.min.css" />
	    <link rel="stylesheet" href="../api/AmazeUI/css/admin.css">
	    <link rel="stylesheet" type="text/css"  href="../api/css/kuCity.css"/>
	    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=kpc15j1AQFyUVq5743wbnFDMpkjvlUBG"></script>
        <script src="../api/jQuery/jquery.min.js"></script>
	    <script src="../js/WfrmHotelInfo.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/resource.js"></script>
	    <!--[if lt IE 9]>
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
		<script src="assets/js/polyfill/rem.min.js"></script>
		<script src="assets/js/polyfill/respond.min.js"></script>
		<script src="assets/js/amazeui.legacy.js"></script>
		<![endif]-->
        <!--[if (gte IE 9)|!(IE)]><!-->
        <script src="../api/AmazeUI/js/jquery.min.js"></script>
        <script src="../api/AmazeUI/js/amazeui.min.js"></script>
        <!--<![endif]-->
        <script src="../api/AmazeUI/js/app.js"></script>
        <script src="../api/js/kuCity.js"></script>
        <style>
        	#allmap{
        		width: 350px;
        		height: 370px;
        		float: right;
        		margin:5px 10px -380px 0px;
        	}
        </style>
	</head>
	<body>
        <div class="am-cf am-padding">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg">酒店信息维护</strong> / 				<small>Edit</small>
            </div>
        </div>
        <div class="am-tabs am-margin" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active">
                	<a href="#tab1">详细描述</a>
                </li>
            </ul>
            <div class="am-tabs-bd">
            	<!-- 酒店地图定位 -->
            	<div id="allmap"></div>
                <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                    <form id="Form1" class="am-form" runat="server">
                    	<!-- 酒店名称 -->
					    <div class="am-g am-margin-top">
					    	<div class="am-u-sm-4 am-u-md-2 am-text-right">
                            	酒店名称 
                        	</div>
						    <div class="am-form-group am-form-icon am-form-feedback am-u-sm-8 am-u-md-4" id="hotel_name_box"> 
						    	
						    	<input onblur="onblur_hotelName()" maxlength="15"
									   type="text" id="hotel_name" class="am-form-field am-input-sm " placeholder="请输入酒店名称   必填">
							</div>
							<div class="am-hide-sm-only am-u-md-6" id="hotel_name_msg"> <!-- 酒店名称错误提示信息 -->
						    </div>
						</div>
						<!-- 联系电话 -->
                   		<div class="am-g am-margin-top">
					    	<div  class="am-u-sm-4 am-u-md-2 am-text-right">
                            	联系电话 
                        	</div>
						    <div class="am-form-group am-form-icon am-form-feedback am-u-sm-8 am-u-md-4">
						    	<input id="phone_num" type="text" maxlength="15"
									   class="am-form-field am-input-sm" placeholder="请输入联系电话">
							</div>
							<div class="am-hide-sm-only am-u-md-6"> <!-- 酒店名称错误提示信息 -->
                            	
						    </div>
						</div>
						<!-- 酒店地址 -->
                   		<div class="am-g am-margin-top">
					    	<div  class="am-u-sm-4 am-u-md-2 am-text-right">
                            	酒店地址
                        	</div>
						    <div class="am-form-group am-form-icon am-form-feedback am-u-sm-8 am-u-md-6">
						    	<!-- 选择城市 -->
                        		<input type="text" id="citySelect" style="height:35px;width: 100px;border-radius: 3px;z-index: 999;text-align: center;display: inline;" placeholder="选择城市"/>
						    	<input id="hotel_address" type="text" maxlength="20" style="height: 35px;width: 450px;display: inline;" placeholder="请输入酒店地址">
						    	<button type="button" id="btnLocation" class="am-btn am-btn-primary am-btn-xs">定位</button>
							</div>
							<div class="am-hide-sm-only am-u-md-4"> <!-- 酒店名称错误提示信息 -->

						    </div>
						</div>
                        <!-- 内容描述 -->
                        <div class="am-g am-margin-top-sm">
                            <div class="am-u-sm-12 am-u-md-2 am-text-right admin-form-text">
                                内容描述
                            </div>
                            <div class="am-u-sm-12 am-u-md-6">
                                <textarea id="hotel_desp" runat="server" maxlength="100"
										  Rows="9" class="am-form-field am-input-sm" placeholder="请输入内容描述"></textarea>
                            </div>
                            <div class="am-hide-sm-only am-u-md-4"> <!-- 酒店名称错误提示信息 -->

						    </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 保存按钮 -->
        <div class="am-margin">
            <button type="button" onclick="onclick_btnSave()" class="am-btn am-btn-primary am-btn-xs">
            	保存
            	<i class="am-icon-spinner am-icon-spin" style="display:none" id="saveIcon"></i>
            </button>
        </div>
        <!-- 保存成功提示 -->
        <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">
                    微信预订后台管理系统</div>
                <div class="am-modal-bd" id="msg">
                    保存成功！
                </div>
                <div class="am-modal-footer">
                    <a class="am-modal-btn">确定</a>
                </div>
            </div>
        </div>
	</body>
</html>
